.Ingredients {
    margin: 4rem;
    padding: 2rem 1rem;
    font-size: 1.5rem;
    position: relative;

    @media only screen and (max-width: 25em) {
      margin: 2rem;
    }

    &-title {
        text-align: center;
        margin: 2rem 0 3rem 0;
    }

    .ingredient-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 80%;
      margin: 1rem auto;
      padding: 2rem;
      background-color: white;
      border-radius: 5px;

      @media only screen and (max-width: 37.50em) {
        width: 100%;
      }
      @media only screen and (max-width: 25em) {
        flex-direction: column;
      }
      
      p {
        @media only screen and (max-width: 25em) {
          margin: 2rem auto;
        }
      }
    }
    .ingredient {
      font-size: 2.2rem;
    }
    .low {
      color: red;
      margin-left: 3rem;
      margin-top: 1rem;
      position: absolute;
    }
    .coffee {
        margin-right: 1rem;
    }
    .modal {
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(black, .7);
      backdrop-filter: blur(2px);
      z-index: 10;
      &-content {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        border-radius: 5px;
        background-color: white;
        z-index: 20;
        padding: 8rem;
        font-size: 2.2rem;
        text-align: center;
        border: 1px solid gainsboro;
        display: flex;
        flex-direction: column;

        .plusMinus {
          display: flex;
          justify-content: space-around;
          margin: 3rem;
          
        }
        .closingButton {
          position: absolute;
          top: 8px;
          right: 8px;
        }
    } 
  }
  }