.App {
  text-align: center;

  &-input {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: white;

    @media only screen and (max-width: 37.5em) {
      flex-wrap: wrap;
    }
  }

  &-checkout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &-chart {
    background-color: white;

  }
}
