.App {
  text-align: center;

  &-input {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: white;

    @media only screen and (max-width: 37.5em) {
      flex-wrap: wrap;
    }
  }

  &-checkout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &-chart {
    background-color: white;
    margin: 4rem;
    padding: 2rem 1rem;
  }

  &-ingredients {
    background-color: white;
    margin: 4rem;
    padding: 2rem 1rem;
    font-size: 1.3rem;
    &-title {
      font-size: 2rem;
    }
    .ingredient-container {
      display: flex;
      justify-content: center;
      position: relative;
    }
    .ingredient {
      font-size: 2.2rem;
    }
    .bar {
      background-color: gainsboro;
      height: 2rem;
    }
    .low {
      color: red;
      margin-left: 3rem;
      margin-top: 1rem;
      position: absolute;
    }
  }
}
