@import url('https://fonts.googleapis.com/css?family=Work+Sans&family=Lato');

$backgroundColor: #282c34;
$lightGrey: #f1f1f1;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: 56.25em) { 
    font-size: 55%;
  };
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
  background-color: $lightGrey;
  //padding: 3rem;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
